

.greets {

  text-align: center;
  margin-top: 150px;


}


.results {

text-align: center;


}

.butts {

  width: 260px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}


.widthBut {

margin-top: 10px;
width: 50px;
height: 50px;
}

.gleichBut {

  width: 105px;
  height: 50px;



}
