

.greets {

  text-align: center;
  margin-top: 150px;


}


.results {

text-align: center;


}

.butts {

  width: 260px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40px;
  margin: auto;

}


.widthBut {

margin-top: 10px;
width: 50px;
height: 50px;
padding-top: 10px;
padding-bottom: 10px;
}

.gleichBut {

  width: 210px;
  height: 50px;
  margin-top: 10px;
  padding-top: 10px;



}
